---
base_url: "https://apigw-uswest4.central.arubanetworks.com"
client_id: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
client_secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
customer_id: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
username: "vstudent.dcn.1003+  @gmail.com"
password: "Hpearuba123!"
